html, body {
   background-color: #383535;
}

body {
   display: flex;
   flex-wrap: wrap;
}

h2 {
   color: #a51d1d;
}

h3 {
   color: white;
}

foto {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: auto;
}

foto, experiencesamples {
   min-width: 240px;
   width: 20%;
}

name {
   font-size: 23px;
}

redzone, skills {
   flex-grow: 1;
   width: 80%;
   display: flex;
   min-width: 330px;
}

skills {
   flex-direction: column;
}

experience {
   display: flex;
}

expdelimer {
   width: 5px;
   height: auto;
   display: block;
   background-color: green;
   margin-left: 8px;
   margin-right: 8px;
   margin-top: 3px;
}

expdescription h3 {
   color: #a51d1d;
}

expdescription div {
   color: gray;
}

expdelimer.blue {
   background-color: cornflowerblue;
}

expdelimer.green {
   background-color: green;
}

expdelimer.orange {
   background-color: orange;
}

expdelimer.violet {
   background-color: #4f4f80;
}

expdescription .gray {
   color: gray;
}
expdescription .gray a {
   color: inherit;
}

expdescription .prof {
   font-weight: bold;
   color: bisque;
}

expdescription {
   margin-bottom: 20px;
   min-width: 200px;
   width: 70%;
}

dates {
   width: 30%;
   min-width: 100px;
   margin-top: 20px;
   text-align: right;
}
redzone {
   background-color: #a51d1d;
   height: 300px;
}

.mainblock {
   color: white;
}

contacts,
aboutme {
   flex-grow: 1
}

contacts {
   min-width: 118px;
}

contact {
   padding-bottom: 8px;
}

contact img {
   margin-right: 8px;
}
contact span, contact a {
   font-size: 19px;
   color: #b9b7bf;
}

.block,
.secondblock,
contact,
sample {
   display: block;
}

.secondblock {
   margin-left: 8px;
}

sample a {
   color: white;
   text-decoration: dotted;
   text-decoration-line: underline;
}

sample a:hover {
   color: #a51d1d;
}


/*шестиугольник фото*/
.hexagon {
   overflow: hidden;
   visibility: hidden;
   -webkit-transform: rotate(120deg);
      -moz-transform: rotate(120deg);
       -ms-transform: rotate(120deg);
        -o-transform: rotate(120deg);
           transform: rotate(120deg);
   width: 135px;
   height: 194px;
}
.hexagon-in1 {
   overflow: hidden;
   width: 100%;
   height: 100%;
   -webkit-transform: rotate(-60deg);
      -moz-transform: rotate(-60deg);
       -ms-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
           transform: rotate(-60deg);
}

.hexagon-in2 {
   background-image: url(img/foto_mini.png);
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-position: 50%;
   visibility: visible;
   -webkit-transform: rotate(-60deg);
      -moz-transform: rotate(-60deg);
       -ms-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
           transform: rotate(-60deg);
}

/* ярлык навыков*/
skilllist {
   display: inline-table;
   list-style: none outside none;
   text-align: center;
}

skill {
   display: block;
   float: left;
   height: 30px;
   background: #a51d1d;
   text-align: center;
   padding: 10px 5px 0 30px;
   position: relative;
   margin: 3px 0px 0px 0px;
   font-size: 20px;
   text-decoration: none;
   color: #fff;
}

skill:after {
   content: "";
   border-top: 20px solid transparent;
   border-bottom: 21px solid transparent;
   border-left: 10px solid #a51d1d;
   position: absolute;
   right: -9px;
   top: 0;
   z-index: 1;
}

skill:before {
   content: "";
   border-bottom: 20px solid transparent;
   border-left: 14px solid rgb(56, 53, 53);
   border-top: 21px solid transparent;
   position: absolute;
   top: 0;
   left: 0;
}

skill:first-child{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
skill:first-child:before {
    display: none;
}
skill:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: 20px;
}
skill:last-child:after {
    display: none;
}

/* список примеров */
samples {
   counter-reset: a;
}

samples a{
   position: relative;
   display: block;
   padding: .4em .4em .4em 2em;
   *padding: .4em;
   margin: .5em 15px;
   background: #ddd;
   color: #444;
   text-decoration: none;
   border-radius: .3em;
   transition: all .3s ease-out;
}

samples a:hover{
   background: #eee;
}

samples a:hover:before{
   transform: rotate(360deg);
}

samples a:before{
   content: counter(a);
   counter-increment: a;
   position: absolute;
   left: -1.3em;
   top: 50%;
   margin-top: -1.3em;
   background: #87ceeb;
   height: 2em;
   width: 2em;
   line-height: 2em;
   border: .3em solid #fff;
   text-align: center;
   font-weight: bold;
   border-radius: 2em;
   transition: all .3s ease-out;
}
